
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-md-3 mb-4 stretch-card transparent">
    <div class="card card-light-danger">
        <div class="card-body">
            <p class="mb-4">Kullanıcı Sayısı</p>
            <p class="fs-30 mb-2">@ViewBag.userCounter</p>

        </div>
    </div>
</div>