

<div class="col-md-3 mb-4 stretch-card transparent">
    <div class="card data-icon-card-info">
        <div class="card-body">
            <p class="mb-4">Ürün Sayısı</p>
            <p class="fs-30 mb-2">@ViewBag.productCounter</p>

        </div>
    </div>
</div>