
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skydash Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/skydash/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/skydash/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="~/skydash/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/skydash/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/skydash/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/skydash/images/favicon.png" />
</head>
<body>
    <div  class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav  class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div  class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="index.html"><img style="width:200px;height:55px;margin-left:20px;" src="~/malefashion-master/img/NewLogo.png" class="mr-2" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/skydash/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div style="background-color:#3e5261;"  class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button style="color:aliceblue;" class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                
            </div>
        </nav>
        <!-- partial -->

        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav  class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminHome/Index/">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Giriş</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#home" aria-expanded="false" aria-controls="ui-basic">
                            <i class="icon-layout menu-icon"></i>
                            <span class="menu-title">Ana Sayfa</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="home">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/AdminSlider/Index/">Slider</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/AdminSlider/AddSlider/">Slider Ekle</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                            <i class="icon-bag menu-icon"></i>
                            <span class="menu-title">Ürünler</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="ui-basic">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/AdminProduct/Index/">Ürünler</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/AdminProduct/AddProduct/">Ürün Ekle</a></li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                            <i class="icon-columns menu-icon"></i>
                            <span class="menu-title">Kategoriler</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="form-elements">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="/AdminCategory/Index/">Kategori Listesi</a></li>
                                <li class="nav-item"><a class="nav-link" href="/AdminCategory/CategoryAdd/">Kategori Ekle</a></li>
                            </ul>

                        </div>

                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/AdminUser/Index/">
                            <i class="icon-head menu-icon"></i>
                            <span class="menu-title">Kullanıcılar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                            <i class="icon-bag menu-icon "></i>
                            <span class="menu-title">Siparişler</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="tables">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="/AdminOrder/Index/">Sipariş Listesi</a></li>
                                <li class="nav-item"> <a class="nav-link" href="/AdminOrder/StatusFalse/">Onay Listesi</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
                            <i class="icon-air-play menu-icon"></i>
                            <span class="menu-title">Admin</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="admin">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"><a class="nav-link" href="/AdminAdmin/Index/">Admin Listesi</a></li>
                                <li class="nav-item"><a class="nav-link" href="/AdminAdmin/AddAdmin/">Admin Ekle</a></li>
                            </ul>

                        </div>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminMessage/Index/">
                            <i class="icon-content-left menu-icon"></i>
                            <span class="menu-title">Mesajlar</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HomeProduct/Index/">
                            <i class="icon-cloud-upload menu-icon "></i>
                            <span class="menu-title">Siteye Git</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/AdminSlider/LogOut/">
                            <i class="icon-cloud-upload menu-icon "></i>
                            <span class="menu-title">Çıkış Yap</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        
                            @RenderBody()
                        
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    
    <!-- plugins:js -->
    <script src="~/skydash/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/skydash/vendors/chart.js/Chart.min.js"></script>
    <script src="~/skydash/vendors/datatables.net/jquery.dataTables.js"></script>
    <script src="~/skydash/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script src="~/skydash/js/dataTables.select.min.js"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/skydash/js/off-canvas.js"></script>
    <script src="~/skydash/js/hoverable-collapse.js"></script>
    <script src="~/skydash/js/template.js"></script>
    <script src="~/skydash/js/settings.js"></script>
    <script src="~/skydash/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="~/skydash/js/dashboard.js"></script>
    <script src="~/skydash/js/Chart.roundedBarCharts.js"></script>
    <!-- End custom js for this page-->
</body>

</html>

