
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="header__nav__option">

    <a href="/ProductAddTofavorite/Index/"><img src="~/malefashion-master/img/icon/heart2.png" alt=""></a>
    <a style="margin-right:25px;color:crimson;font-weight:bold;" href="/ProductAddToBasket/ProductBasket/"><img src="~/malefashion-master/img/icon/cart.png" alt="">@ViewBag.basketNumber </a>
    <a style="margin-right:40px" href="/Profile/Index/"><img src="~/malefashion-master/img/icon/user.png" alt=""></a>


</div>